// Variables
$primary-color: #087bba;
$error-color: #ae344b;
$background-color: #f9f9f9;
$text-color: #333;
$font-family: "Arial, sans-serif";

// Form Container
.form {
  background-color: $background-color;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 800px;
  margin: 20px auto;
  font-family: $font-family;
  color: $text-color;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

// Title
.title {
  font-size: 2rem;
  font-weight: bold;
  color: $primary-color;
  text-align: center;
  margin-bottom: 16px;
}

// Form Field
.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

// Label
.label {
  font-size: 1rem;
  font-weight: bold;
}

// Input Styles
.input,
.select {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: border-color 0.3s;
}

.input:focus,
.select:focus {
  border-color: $primary-color;
  outline: none;
}

.select {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: border-color 0.3s;
  height: 120px; // More space for multiple options
  overflow-y: auto; // Scrollable if options exceed the height
}

.select option {
  padding: 8px;
  font-size: 1rem;
  background-color: #ffffff; // Default background
  color: #333;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #f0f8ff; // Light highlight on hover
    color: #087bba;
  }

  &:checked,
  &[selected] {
    background-color: #087bba; // Highlight for selected items
    color: #ffffff; // White text for better contrast
  }
}

// Error Styles
.errorInput {
  border-color: $error-color;
}

.error {
  font-size: 0.875rem;
  color: $error-color;
}

// Button
.button {
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: $primary-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
